{plugins,[ling_builder]}.

{deps, [
     %  {active,       ".*", {git, "https://github.com/proger/active", "HEAD"}}
     %,
     {ling_builder, ".*", {git, "https://github.com/maximk/ling_builder", "HEAD"}}
]}.

{ling_builder_opts,[
      {build_host,"build.erlangonxen.org:8080"}
    , {username,"test"}
    , {password,"test"}
    , {strip_image,false}
    , {import_lib,sasl}
    , {import_lib,inets}
    , {import, "priv/*"}
]}.
